a.buttonLink{
  padding: 0.2em 1em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255,255,255,0);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
}
a.buttonLink:hover{
  border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
  a.buttonLink{
  display:block;
  margin:0.2em auto;
  }
}